

* {
  box-sizing: border-box;
}

body{
  /* text-align: center;
  height: 100vh; */
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a{
  text-decoration: none;
}

/*buttons*/
.btn{
  width: 150px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #2c2627;
  color:#FFFFFF;
  padding: 8px 40px;
  border-radius: 20px;
  border: none;
}

.btn:hover{
  color: #2c2627;
  background-color: #FFFFFF;
}


.profile-btn{
  text-transform: uppercase;
  font-weight: 700;
  background-color: #2c2627;
  color:#FFFFFF;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  width: 150px;
  font-size: 16px;;
}

.profile-btn:hover{
  color: #2c2627;
  background-color: #FFFFFF;
}


.update-btn-container{
  float: right
}

.btn-sm{
  padding: 6px 9px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}

.update-btn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/*container*/
.dp-img{
  width: 250px;
  border-radius: 50%;
  margin: 10px 0;
  height: 200px;
}

.profile-container, .event-form-container{
  width: 80%;
  margin: auto;
}

.pet-details{
  width: 85%;
  background-color: #f5f5f5;
  border-radius: 30px;
  height: 100%;
  padding: 3% 0;
}

.dog-info span{
  margin-right: 20px;
  font-weight: bold;
  /* font-size: 16px; */
  line-height: 1.5;
}

.dog-info, .pet-desc{
  margin-top: 25px;
}

.MainContent ul{
  padding: 0;
}

.event-form-border{
  border-radius: 25px;
  height: 520px;
  width: 300px;
  background-color:#d7d7d7;
  opacity: 0.8;
  box-shadow: 0 0 25px 5px #cdd2e0;
  padding: 5% 0;
}

.event-form-fields input[type=text],
.event-form-fields input[type=date]{
  width: 70%;
  margin-bottom: 15px;
  padding: 6px;
  border-radius: 25px;
  border: none;
  height: 35px;
}

.event-form-fields{
  margin: auto;
  text-align: center;
}
.event-form-fields input[type=date]{
  padding: 15px;
}

.MainContent{
  width: 50%;
  font-size: 16px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center .btn {
  margin-right: 20px;
}

.panel {
  margin-bottom: 21px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
  padding: 15px;
}

.panel-primary {
  border-color: black;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  color: inherit;
}

.panel-primary > .panel-heading {
  color: black;
  background-color: #d7d7d7;
  border-color: black;
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #2c3e50;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-9{
  width: 75%;
}
.text-right {
  text-align: right;
}

.col-xs-3,.col-xs-9{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-3,.col-xs-9{
  float: left;}
.text-right {
  text-align: right;
}

.row:after,.panel-body:after{
  content: " ";
  display: table;
}
.row:after,.panel-body:after{
  clear: both;
}

.panel-title{
  float: left;
}

br{
  clear: both;
}

main{
  height: 85vh;
  display: flex;
  text-align: center;
}

.border{
  border-radius: 25px;
  border: 2px solid black;
  height: 95px;
}

/* okay */
/*signin*/
.userform-container{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-border{
  border-radius: 25px;
  border: 2px solid #f26a5d;
  height: 520px;
  width: 300px;
  background-color:#f26a5d;
  opacity: 0.8;
}

.logo{
  width:350px;
  position: absolute;
  left: 5%;
  top: -2%
}

.logo h1{
  font-size: 26px;
}

.center{
  text-align: center;
}

.welcome-container{
  width: 350px;
  margin: auto;
}

.welcome-container h2{
  font-size: 22px;
}

.welcome-container h3, .userBtn .btn, .form-fields, .event-form-fields
,.list h3
{
  font-size: 16px;
}

.userform-container h2, .event-form-container h2{
  font-size: 20px;
}

.list p
{
  font-size: 14px;
}

.container-center-note{
  align-self: center;
  height: 60vh;
}


footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: white;
  text-align: center;
  flex-shrink: 0;
}

footer p{
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  margin: 0;
  
}

.userBtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userBtn li{
  list-style-type: none;
  margin: 10px;
  text-align: center;
}



/*input fields*/
.form-fields,.event-form-fields{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-fields input{
  width: 250px;
  margin-bottom: 15px;
  padding: 6px;
  border-radius: 25px;
  border: none;
  height: 35px;
}

.form-fields a{
  margin-bottom: 15px;
}

nav ul{
  display: flex;
  position: absolute;
  right: 5%;
}

nav li, .list li, .event-type li{
  list-style-type: none;
  margin-right: 20px;
}

#ham-nav {
  width: 100%;
  background: #1d8ead;
  text-align: left;
}

#ham-nav label,
#hamburger {
  display: none;
}

#ham-items {
  display: flex;
  justify-content: flex-end;
}

#ham-items a {
  width: 10%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

#ham-items a:hover {
  background: #43d2fa;
}

.act-border{
  border: #2c3e50 2px solid;
}

.event-container{
  height: 300px;
}

/*footer section*/
i{
  color: black;
}
i:hover{
  color: #ff9292;
}



footer ul {
  margin-top: 10px;
}

footer li {
  margin: 0 10px;
}

@media screen and (min-width: 650px) {

  .welcome-container{
    width: 600px;
  }
  .logo h1{
    font-size: 30px;
  }
  .welcome-container h2{
    font-size: 28px;
  }

  .welcome-container h3, .userBtn .btn, .form-fields, .event-form-fields, .list h3{
    font-size: 20px;
  }

  .userform-container h2, .event-form-container h2{
    font-size: 24px;
  }

  .list p{
    font-size: 16px;
  }
  .event-form-border{
    height: 620px;
    width: 80%;
  }

  .userBtn{
    margin: 20px;
  }

  .userBtn .btn{
    padding: 8px 40px;
  }

  .form-border{
    height: 580px;
    width: 400px;
  }
  .dp-img{
    width: 300px;
  }

  .profile-btn{
    padding: 12px 40px;
  }

  .profile-container{
    width: 50%;
  }

  .MainContent{
    width: 600px;
    font-size: 18px;
  }

  footer p{
    font-size: 18px;

    
  }

  .userBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #ham-nav {
    width: 100%;
    background: white;
  }

  #ham-items {
    display: flex;
    /* position: absolute; */
    right: 5%;
    margin-right: 20px;
  }
  
  
  nav li, .list li, .event-type li{
    list-style-type: none;
    margin-right: 20px;
  }


}

@media screen and (max-width: 768px) {
  #ham-nav label {
    display: inline-block;
    color: white;
    background: #fa9d43;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    margin-left: auto;
    margin-right: 0;
  }

  #ham-nav label:hover {
    background-color: #ad5b0c;
  }

  #ham-items a {
    display: block;
    width: 100%;
    border-top: 1px solid #333;
    border-radius: 0;
  }

  #ham-items {
    display: none;
  }

  #ham-nav input:checked ~ #ham-items {
    display: block;
  }
  
}

@media screen and (min-width:1000px) {
  .MainContent{
    width: 750px;
  }

  .event-form-container{
    width: 50%;
  }
}

